* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1B;
    font-family: "apolline", serif;

}

header {
    background-color: #ce2a5b;
    padding: 10px
}
header img {
    width: 15%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.flex-item {
    flex: 1;
}


header nav li {
    display: inline;
}

img {
    width: 100%;
}

#featured img {}

header input {
    margin-left: 10px;
    padding: 4px 10px;
    border-radius: 20px;
    width: 100px;
}

header i {
    width: 20px;
}

header i:hover {
    color: #000000;
}

header nav li a {
    color: black;
    padding: 5px;
}

header nav li a:hover {
    color: #6c142e;
}

main {
    padding: 20px;
}

video {
    width: 100%;
}

footer {
    padding: 20px;
}

section {
    margin-bottom: 4rem;
}

h2 {
    margin-bottom: 4rem;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 10%;
    left: 25%;
    background-color: #ce2a5b;
    color: #1C1C1B;
}