@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(0, 100%, 12%);
    --bgc-02: hsl(204, 24%, 12%);
    --txt-01: hsl(341, 74%, 71%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}
header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
main img {
    width: 200px;
}
